@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: url('./SUIT-Thin.woff2') format('woff2');
	src: url('./SUIT-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: url('./SUIT-ExtraLight.woff2') format('woff2');
	src: url('./SUIT-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: url('./SUIT-Light.woff2') format('woff2');
	src: url('./SUIT-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: url('./SUIT-Regular.woff2') format('woff2');
	src: url('./SUIT-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: url('./SUIT-Medium.woff2') format('woff2');
	src: url('./SUIT-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: url('./SUIT-SemiBold.woff2') format('woff2');
	src: url('./SUIT-SemiBold.ttf') format('ruetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: url('./SUIT-Bold.woff2') format('woff2');
	src: url('./SUIT-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: url('./SUIT-ExtraBold.woff2') format('woff2');
	src: url('./SUIT-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: url('./SUIT-Heavy.woff2') format('woff2');
	src: url('./SUIT-Heavy.ttf') format('truetype');
}