@charset "UTF-8";
.site-wrap {
  display: grid;
  grid-template-columns: 25rem minmax(120rem, 1fr);
  justify-content: flex-start;
  transition: grid-template-columns 0.6s;
  -webkit-transition: grid-template-columns 0.6s;
  -moz-transition: grid-template-columns 0.6s;
  -ms-transition: grid-template-columns 0.6s;
  -o-transition: grid-template-columns 0.6s;
}
.site-wrap.active {
  grid-template-columns: 8rem 1fr;
  transition: grid-template-columns 0.6s;
  -webkit-transition: grid-template-columns 0.6s;
  -moz-transition: grid-template-columns 0.6s;
  -ms-transition: grid-template-columns 0.6s;
  -o-transition: grid-template-columns 0.6s;
}
.site-wrap.active .gnb {
  width: 8rem;
  transition: width 0.6s;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -ms-transition: width 0.6s;
  -o-transition: width 0.6s;
}
.site-wrap.active .gnb .header a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.site-wrap.active .gnb .header a > h1 {
  line-height: 0;
  text-align: right;
  font-size: 0;
}
.site-wrap.active .gnb .header a > h1::before {
  display: block;
}
.site-wrap.active .gnb .nav > ul > li .dep-01 {
  padding-left: 2.5rem;
  background-image: url("") !important;
  transition: padding-left 0.1s 0.2s;
  -webkit-transition: padding-left 0.1s 0.2s;
  -moz-transition: padding-left 0.1s 0.2s;
  -ms-transition: padding-left 0.1s 0.2s;
  -o-transition: padding-left 0.1s 0.2s;
}
.site-wrap.active .gnb .nav > ul > li .dep-01 .txt {
  opacity: 0;
  transform: opacity 0.6s;
  -webkit-transform: opacity 0.6s;
  -moz-transform: opacity 0.6s;
  -ms-transform: opacity 0.6s;
  -o-transform: opacity 0.6s;
}
.site-wrap.active .gnb .nav > ul > li .dep-02 {
  opacity: 0;
  transform: opacity 0.6s;
  -webkit-transform: opacity 0.6s;
  -moz-transform: opacity 0.6s;
  -ms-transform: opacity 0.6s;
  -o-transform: opacity 0.6s;
}
.site-wrap.active .gnb .menu-pop-btn > .icon::after {
  transform: translate(-50%, -50%) rotate(180deg);
  transition: transform 0.5s;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  -o-transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.gnb {
  z-index: 100;
  position: relative;
  width: 25rem;
  min-height: 100%;
  color: #f7fdf8;
  background-color: #272180;
  transition: width 0.6s;
  -webkit-transition: width 0.6s;
  -moz-transition: width 0.6s;
  -ms-transition: width 0.6s;
  -o-transition: width 0.6s;
}
.gnb .header {
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  border-bottom: 1px solid #403b8a;
}
.gnb .header a {
  height: 100%;
}
.gnb .header a > h1 {
  position: relative;
  font-size: 2rem;
  color: #a4a3b1;
  white-space: nowrap;
  transition: font-size 0.3s;
  -webkit-transition: font-size 0.3s;
  -moz-transition: font-size 0.3s;
  -ms-transition: font-size 0.3s;
  -o-transition: font-size 0.3s;
}
.gnb .header a > h1::before {
  display: none;
  content: "ADMIN";
  font-size: 1.6rem;
}
.gnb .nav {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 4rem;
  width: 100%;
  max-height: 90vh;
}
.gnb .nav.scroll::-webkit-scrollbar-thumb {
  background-color: #464292;
}
.gnb .nav > ul {
  width: inherit;
}
.gnb .nav > ul > li {
  padding-bottom: 1.5rem;
  width: inherit;
}
.gnb .nav > ul > li .dep-01 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 4rem 0 4rem;
  width: 100%;
  height: 6rem;
  text-align: left;
  line-height: 6rem;
  font-size: 1.7rem;
  background: url("../img/icon/up.png") right 4rem center no-repeat;
}
.gnb .nav > ul > li .dep-01 .icon {
  display: table;
  margin-right: 1rem;
  min-width: 3rem;
}
.gnb .nav > ul > li .dep-01 .icon img {
  display: table-cell;
  vertical-align: middle;
}
.gnb .nav > ul > li.on .dep-01 {
  background: url("../img/icon/down.png") right 4rem center no-repeat #464292;
}
.gnb .nav > ul > li .dep-02 {
  overflow: hidden;
  overflow-y: auto;
  display: none;
  padding: 1rem 4rem 0 8rem;
  font-size: 1.5rem;
  font-weight: 300;
  min-width: 25rem;
  max-height: 50vh;
}
.gnb .nav > ul > li .dep-02 li {
  margin: 0.7rem 0;
  height: 2.5rem;
  line-height: 2.5rem;
}
.gnb .nav > ul > li .dep-02 li:hover, .gnb .nav > ul > li .dep-02 li.on {
  font-weight: 700;
}
.gnb .nav > ul > li .dep-02 li:hover a, .gnb .nav > ul > li .dep-02 li.on a {
  display: block;
  text-decoration: underline;
}
.gnb .menu-pop-btn {
  position: absolute;
  right: -2.5rem;
  top: 50%;
  width: 2.5rem;
  height: 4rem;
  background-color: #fff;
  border: 1px solid #d7d7e5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.gnb .menu-pop-btn > .icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.gnb .menu-pop-btn > .icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: url("../img/icon/pop-btn.png");
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.gnb .menu-pop-btn > .icon::before {
  content: "메뉴열림/접힙";
}

.content-wrap {
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}
.content-wrap .header {
  align-items: center;
  width: 100%;
  min-width: 120rem;
  font-size: 1.2rem;
}
.content-wrap .header .user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5rem;
  width: 100%;
  height: 8rem;
  color: #555;
  font-family: "굴림", sans-serif;
  background-color: #fefefe;
}
.content-wrap .header .user-menu .btn {
  height: 2rem;
  line-height: 2rem;
}
.content-wrap .header .user-menu .btn:nth-of-type(1) {
  margin-right: 2rem;
}
.content-wrap .header .user-menu .btn:nth-of-type(1) img {
  margin-right: 0.5rem;
}
.content-wrap .header .user-menu .my-page-btn {
  position: relative;
  left: 0;
  top: 0;
  margin-left: 2rem;
}
.content-wrap .header .user-menu .my-page-btn::before {
  position: absolute;
  left: -2rem;
  top: 0;
  content: "|";
  color: inherit;
}
.content-wrap .header .user-menu .my-page-btn img {
  margin-right: 1rem;
  vertical-align: middle;
}
.content-wrap .location {
  position: relative;
  left: 0;
  top: 0;
  padding: 2.5rem 5rem 0;
  height: 4rem;
  text-align: right;
  font-size: 1.2rem;
  font-family: "굴림", sans-serif;
}
.content-wrap .location ul {
  float: right;
}
.content-wrap .location ul li {
  position: relative;
  left: 0;
  top: 0;
  float: left;
  padding: 0 2rem;
}
.content-wrap .location ul li:nth-of-type(1)::before {
  position: absolute;
  left: 0;
  top: 0.1em;
  content: url("../img/icon/home.png");
}
.content-wrap .location ul li:nth-of-type(n+2)::before {
  position: absolute;
  left: 0;
  top: 0.1rem;
  content: url("../img/icon/arrow.png");
}
.content-wrap .page-tit {
  padding: 1rem 5rem 2rem;
}
.content-wrap .page-tit > h2 {
  margin-bottom: 1rem;
  line-height: 1;
  font-size: 2rem;
  font-weight: 800;
  color: #272180;
}
.content-wrap .page-tit > span {
  font-size: 1.5rem;
}

.content {
  position: relative;
  padding: 0 5rem 5rem;
  flex: 1 1 0;
}/*# sourceMappingURL=common.css.map */