@use "variables" as *;

.inner {
  width: 100%;
  margin: 0 auto;
}
.sec-1 {
  overflow: hidden;
  position: relative;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .txt-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .t1 {
      line-height: 3.6rem;
      font-size: 2.4rem;
      font-weight: 700;
      color: $color-white;
      margin-bottom: 4rem;
      font-family: $font-family-alt;
    }
    .t2 {
      line-height: 2.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: $color-white;
      margin-bottom: 4rem;
      font-family: $font-family-alt;
    }
    .t3 {
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
.sec-2 {
  padding: 10rem 0;
  .inner {
    height: 100%;
    max-height: 100vh;
  }
  .flex-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .top-txt {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 5rem;
    .t1 {
      line-height: 1;
      font-size: 4rem;
      font-weight: 600;
      color: $color-black;
      font-family: $font-family-alt;
    }
    .t2 {
      line-height: 2.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: $color-gray;
      font-family: $font-family-alt;
    }
  }
}
.sec-3 {
  position: relative;
  padding: 23rem 0;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .top-txt {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    .t1 {
      line-height: 4rem;
      font-size: 3.2rem;
      font-weight: 400;
      color: $color-black;
      font-family: $font-family-alt;
    }
    .t2 {
      line-height: 2.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: $color-black;
      font-family: $font-family-alt;
    }
  }
  .img-box {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    ul {
      display: flex;
      text-align: center;
    }
    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 220px;
      }
      .txt {
        margin-top: 36px;
        line-height: 2.6rem;
        font-size: 1.7rem;
        font-weight: 400;
        color: $color-black;
        font-family: $font-family-alt;
      }
    }
  }
}
.sec-4 {
  position: relative;
  padding: 10rem 0 14rem;
  background: #f9f9f9;
  .top-txt {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 3rem;
    text-align: center;
    .t1 {
      line-height: 1;
      font-size: 4rem;
      font-weight: 600;
      color: $color-black;
      font-family: $font-family-alt;
    }
    .t2 {
      line-height: 2.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: $color-gray;
      font-family: $font-family-alt;
    }
  }
  .img-box {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
    ul {
      display: flex;
      text-align: center;
      gap: 3.6rem;
    }
    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }
      .txt {
        margin-top: 26px;
        line-height: 2.6rem;
        font-size: 1.7rem;
        font-weight: 400;
        color: $color-gray;
        font-family: $font-family-alt;
      }
    }
  }
}
.sec-5 {
  position: relative;
  padding: 10rem 0 14rem;
  .top-txt {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 10rem;
    text-align: center;
    .t1 {
      line-height: 1;
      font-size: 4rem;
      font-weight: 600;
      color: $color-black;
      font-family: $font-family-alt;
    }
    .t2 {
      line-height: 2.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: $color-gray;
      font-family: $font-family-alt;
    }
  }
  .img-box {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }
    .txt {
      ul {
        display: flex;
        text-align: center;
      }
      li {
        flex: 1;
        margin-top: 26px;
        line-height: 2.6rem;
        font-size: 1.7rem;
        font-weight: 400;
        color: $color-gray;
        font-family: $font-family-alt;
      }
    }
  }
}
.sec-6 {
  position: relative;
  height: 960px;
  display: flex;
  flex-direction: column;
  background: url("../img/main/sec6_bg.jpg") no-repeat center / cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  .top-txt {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 10rem;
    text-align: center;
    .t1 {
      line-height: 1;
      font-size: 4rem;
      font-weight: 600;
      color: $color-white;
      font-family: $font-family-alt;
    }
    .t2 {
      line-height: 2.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: $color-white;
      font-family: $font-family-alt;
    }
  }
  .img-box {
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }
  }
}
.sec-7 {
  .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      width: 100%;
    }
  }
}
@media all and (max-width: 85.375rem) {
  .sec-1 {
    height: 100dvh;
    .txt-wrap {
      padding: 2rem;
      .t1 {
        line-height: 2.4rem;
        font-size: 1.6rem;
      }
      .t2 {
        line-height: 2rem;
        font-size: 1.4rem;
      }
      .t3 {
        img {
          width: 200px;
        }
      }
    }
  }
  .sec-2 {
    padding: 4rem 2rem;
    .top-txt {
      .t1 {
        line-height: 2.4rem;
        font-size: 1.8rem;
      }
      .t2 {
        line-height: 2rem;
        font-size: 1.4rem;
      }
    }
  }
  .sec-3 {
    padding: 4rem 2rem;
    .top-txt {
      .t1 {
        line-height: 2.4rem;
        font-size: 1.8rem;
      }
      .t2 {
        line-height: 2rem;
        font-size: 1.4rem;
      }
    }
    .img-box {
      ul {
        flex-direction: column;
        gap: 4rem;
      }
      li {
        .txt {
          margin-top: 1rem;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
  .sec-4 {
    padding: 4rem 2rem;
    .top-txt {
      .t1 {
        line-height: 2.4rem;
        font-size: 1.8rem;
      }
      .t2 {
        line-height: 2rem;
        font-size: 1.4rem;
      }
    }
    .img-box {
      ul {
        flex-direction: column;
        gap: 2rem;
      }
      li {
        flex-direction: row;
        gap: 2rem;
        .img {
          width: 40%;
          height: auto;
        }
        .txt {
          line-height: 1.8rem;
          font-size: 1.4rem;
          text-align: left;
          margin: 0;
        }
      }
    }
  }
  .sec-5 {
    padding: 4rem 2rem;
    .top-txt {
      margin-bottom: 4rem;
      .t1 {
        line-height: 2.4rem;
        font-size: 1.8rem;
      }
      .t2 {
        line-height: 2rem;
        font-size: 1.4rem;
      }
    }
    .img-box {
      .txt {
        margin-top: 3rem;
        ul {
          flex-direction: column;
          gap: 2rem;
        }
        li {
          margin: 0;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }
  }
  .sec-6 {
    height: 46rem;
    padding: 4rem 2rem;
    .top-txt {
      margin-bottom: 4rem;
      .t1 {
        line-height: 2.4rem;
        font-size: 1.8rem;
      }
      .t2 {
        line-height: 2rem;
        font-size: 1.4rem;
      }
    }
  }
}
