/* 
로그인 
*/

@import './variable.scss';

.site-wrap {
  background-color: #f1f1f6;
}

  .login-wrap {
    @include position-center;
    color: #002e6e;

    .login-tit {
      position: relative;
      left: 0;
      top: 0;
      margin-bottom: 4rem;
      width: 100%;
      line-height: 1.2;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;

      span {
        font-size: .45em;
      }
    }

    .fieldset {
      margin: 0 auto;
      width: 35rem;

      .input-box {
        margin: .5rem 0;
        padding: 1.2rem 0;
        width: 100%;
        font-size: 1.5rem;
        white-space: nowrap;
        color: #9499a1;
        border: 1px solid #ccd1d9;
        background-color: #f8f9fc;

        .id,
        .pw {
          display: inline-block;
          width: 55px;
          text-indent: -9999px;
          background-position: center;
          background-repeat: no-repeat;
          border-right: 1px solid #d8dbe5;
        }

        .id {
          background-image: url("../img/icon/id.png");
        }

        .pw {
          background-image: url("../img/icon/pw.png");
        }

        input {
          padding: 0 2rem;
          width: calc(100% - 6rem);
          height: 3rem;
          font-size: inherit;
          color: inherit;
        }
      }

      .btn-box {
        margin-top: 1.5rem;
      }

      .login-btn {
        width: 100%;
        height: 7rem;
        text-align: center;
        line-height: 7rem;
        font-size: 1.8rem;
        font-weight: 800;
        color: #fff;
        background-color: #272180;
      }
    }
  }
