@use "variables" as *;

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
@font-face {
  font-family: 'LineSeed';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'LineSeed';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'LineSeed';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
/* 스킵메뉴 */
.skip-nav {
  z-index: 5100;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -100%;
  width: 100%;
  .skip {
    padding: 1rem;
    flex-basis: 50%;
    text-align: center;
    background-color: $background-color_1;
    &:focus {
      color: $color-white;
      background-color: $background-color_2;
    }
  }
}
.skip-nav.active {
  top: 0;
}
.header-wrap {
  z-index: 5000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $background-color_3;
  transition: background-color, 0.3s, 1s;
  -webkit-transition: background-color, 0.3s, 1s;
  -moz-transition: background-color, 0.3s, 1s;
  -ms-transition: background-color, 0.3s, 1s;
  -o-transition: background-color, 0.3s, 1s;
  height: 9rem;
}
.header-wrap.active {
  .header {
    .logo {
      a {
        img {
          content: url("../img/common/logo-b.png");
        }
      }
    }
    .gnb {
      >li {
        >a {
          color: $color-black;
        }
      }
    }
    .lang-wrap {
      .icon {
        img {
          content: url("../img/common/lang-b.png");
        }
      }
      .lang-btn {
        .lang {
          color: $color-black;
        }
      }
    }
    .mobile-btn {
      span {
        background: #000;
      }
    }
  }
}
.header-wrap.scroll {
  .header {
    .logo {
      a {
        img {
          content: url("../img/common/logo-b.png");
        }
      }
    }
    .gnb {
      >li {
        >a {
          color: $color-black;
        }
      }
    }
    .lang-wrap {
      .icon {
        img {
          content: url("../img/common/lang-b.png");
        }
      }
      .lang-btn {
        .lang {
          color: $color-black;
        }
      }
    }
    .mobile-btn {
      span {
        background: #000;
      }
    }
  }
}
.header-wrap.open {
  .header {
    .logo {
      a {
        img {
          content: url("../img/common/logo-b.png");
        }
      }
    }
    .gnb {
      >li {
        >a {
          color: $color-black;
        }
      }
    }
    .lang-wrap {
      .icon {
        img {
          content: url("../img/common/lang-b.png");
        }
      }
      .lang-btn {
        .lang {
          color: $color-black;
        }
      }
    }
    .mobile-btn {
      span {
        background: #000;
      }
    }
    .nav {
      display: none;
    }
    .sitemap_wrap {
      display: block;
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  margin: 0 auto;
  width: 100%;
  min-height: 9rem;
  background: #fff;
  box-shadow: 0 0 16px rgb(0 0 0 / 6%);
  .logo {
    width: 13.3rem;
    flex: 0 0 auto;
    >a {
      display: block;
    }
  }
  .right-wrap {
    display: flex;
  }
  .gnb {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: inherit;
    >li {
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: center;
      font-size: calc(var(--fs-md) + 0.1rem);
      >a {
        z-index: 1;
        display: inline-block;
        padding: 2rem 3.4rem;
        position: relative;
        text-align: center;
        font-weight: 500;
        line-height: 30px;
        font-size: 20px;
        color: $color-black;
        font-family: $font-family-alt;
      }
    }
    >li.active {
      >a {
        color: $color-primary !important;
        &::before {
          transform: scaleX(1);
          transition: all 0.4s 0.2s;
          -webkit-transition: all 0.4s 0.2s;
          -moz-transition: all 0.4s 0.2s;
          -ms-transition: all 0.4s 0.2s;
          -o-transition: all 0.4s 0.2s;
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
        }
      }
      >.lnb {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .lnb {
    z-index: 2;
    position: absolute;
    top: 7rem;
    width: 22rem;
    text-align: center;
    left: 50%;
    background: #fff;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
    opacity: 0;
    visibility: hidden;
    &:before {
      content: '';
      osition: absolute;
      top: -2px;
      height: 2px;
      background: transparent;
    }
    >li {
      position: relative;
      width: inherit;
      min-width: 100%;
      text-align: left;
      >a {
        display: flex;
        align-items: center;
        padding: 1.6rem 2.4rem;
        line-height: 2.4rem;
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        white-space: nowrap;
        color: $color-black;
        background: #f9f9f9;
        font-family: $font-family-alt;
        i {
          display: block;
          margin-left: auto;
          width: 11px;
          height: 6px;
          background: url("../img/common/dropdown.svg") no-repeat center / contain;
        }
        &:hover {
          background: #fff;
          i {
            background: url("../img/common/dropdown_hover.svg") no-repeat center / contain;
          }
        }
        &:focus {
          background: #fff;
          i {
            background: url("../img/common/dropdown_hover.svg") no-repeat center / contain;
          }
        }
      }
      >.snb {
        position: absolute;
        z-index: 2;
        top: 0;
        left: calc(100% - 12px);
        width: 22rem;
        background: #f9f9f9;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgb(0 0 0 / 12%);
        opacity: 0;
        visibility: hidden;
        >li {
          position: relative;
          width: inherit;
          min-width: 100%;
          text-align: left;
          >a {
            display: block;
            line-height: 2;
            padding: 1.6rem 2.4rem;
            line-height: 2.4rem;
            font-size: 15px;
            font-weight: 400;
            text-align: left;
            white-space: nowrap;
            color: $color-black;
            background: #f9f9f9;
            font-family: $font-family-alt;
            &:hover {
              background: #fff;
            }
            &:focus {
              background: #fff;
            }
          }
        }
      }
    }
    >li.active {
      >.snb {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .right-menu {
    display: none;
    justify-content: flex-end;
    gap: 4rem;
    align-items: center;
  }
  .sitemap_wrap {
    position: fixed;
    display: none;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100dvh;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    background: #fff;
    z-index: 111;
    .logo {
      display: flex;
      height: 7rem;
      padding: 0 2rem;
      width: 100%;
      align-items: center;
      a {
        width: 12rem;
      }
    }
    .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .close-btn {
        position: relative;
        width: 4.5rem;
        height: 3rem;
        border-radius: 3px;
        border: 1px solid #048cfe;
        span {
          position: absolute;
          top: 1.32rem;
          left: 1.4rem;
          width: 1.6rem;
          height: 0.1rem;
          transition: transform 0.6s;
          -webkit-transition: transform 0.6s;
          -moz-transition: transform 0.6s;
          -ms-transition: transform 0.6s;
          -o-transition: transform 0.6s;
          background-color: $background-color_4;
          &:nth-child(1) {
            transform: rotate(40deg);
            -webkit-transform: rotate(40deg);
            -moz-transform: rotate(40deg);
            -ms-transform: rotate(40deg);
            -o-transform: rotate(40deg);
          }
          &:nth-child(2) {
            transform: rotate(-40deg);
            -webkit-transform: rotate(-40deg);
            -moz-transform: rotate(-40deg);
            -ms-transform: rotate(-40deg);
            -o-transform: rotate(-40deg);
          }
        }
      }
    }
    .s-gnb {
      display: flex;
      >li {
        width: 25%;
        padding: 0 2rem;
        &:hover {
          .dep-01 {
            color: $color-primary-blue;
          }
        }
        &:focus {
          .dep-01 {
            color: $color-primary-blue;
          }
        }
      }
      >li.active {
        .s-lnb {
          display: flex;
        }
      }
    }
    .dep-01 {
      display: block;
      font-size: var(--fs-tit);
      font-weight: 600;
      line-height: 1.25;
      text-align: left;
      line-height: 5rem;
    }
    .s-lnb {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      box-shadow: 0 0 10px rgb( 0 0 0 / 5%);
      >li {
        width: 100%;
        text-align: center;
        padding: 0 2rem;
        &:hover {
          color: $color-primary-blue;
        }
        &:focus {
          color: $color-primary-blue;
        }
        a {
          display: block;
          text-align: left;
          font-size: 1.6rem;
          line-height: 5rem;
        }
      }
      >li.active {
        .s-snb {
          display: flex;
        }
      }
    }
    .s-snb {
      width: 100%;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      box-shadow: 0 0 10px rgb(0 0 0 / 5%);
      display: none;
      >li {
        padding: 0 2rem;
        &:hover {
          color: $color-primary-blue;
        }
        &:focus {
          color: $color-primary-blue;
        }
        a {
          display: block;
          text-align: left;
          font-size: 1.4rem;
        }
      }
    }
  }
  .sitemap_wrap.active {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: translateX(0);
  }
  .mobile-btn {
    position: relative;
    width: 4.5rem;
    height: 3rem;
    border-radius: 3px;
    border: 1px solid #048cfe;
    span {
      width: 2.7rem;
      height: 0.1rem;
      &:nth-of-type(1) {
        top: 0.6rem;
        transform: rotate(0);
        transform-origin: right center;
        transition: transform 0.6s;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transition: transform 0.6s;
        -moz-transition: transform 0.6s;
        -ms-transition: transform 0.6s;
        -o-transition: transform 0.6s;
        background-color: $background-color_4;
      }
      &:nth-of-type(2) {
        top: 1.3rem;
        transform: rotate(0);
        transform-origin: right center;
        transition: transform 0.6s;
        -webkit-transition: transform 0.6s;
        -moz-transition: transform 0.6s;
        -ms-transition: transform 0.6s;
        -o-transition: transform 0.6s;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        background-color: $background-color_4;
      }
      &:nth-of-type(3) {
        top: 2rem;
        transform: rotate(0);
        transform-origin: right center;
        transition: transform 0.6s;
        -webkit-transition: transform 0.6s;
        -moz-transition: transform 0.6s;
        -ms-transition: transform 0.6s;
        -o-transition: transform 0.6s;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        background-color: $background-color_4;
      }
    }
  }
  .mobile-btn.active {
    background-color: $background-color_4;
    border-color: $border-color_sky;
    span {
      background-color: $background-color_1;
    }
  }
}
.footer {
  width: 100%;
  padding: 6rem;
  background: #2B2926;
  .inner {
    display: flex;
    flex-direction: column;
  }
  .main {
    position: relative;
    display: flex;
    justify-content: space-between;
    .logo {
      width: 20rem;
      display: flex;
      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
    .warranty {
      width: 60rem;
      height: 13rem;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      a {
        line-height: 2.6rem;
        font-size: 1.7rem;
        font-weight: 700;
        color: $color-black;
        font-family: $font-family-alt;
      }
    }
    .info {
      width: 420px;
      text-align: right;
      line-height: 2.6rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: $color-white;
      font-family: $font-family-alt;
      strong {
        font-weight: 700;
      }
      p {
        font-weight: 400;
      }
    }
  }
  .bottom {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .copy {
      line-height: 2.4rem;
      font-size: 1.5rem;
      color: $color-white;
      text-align: center;
      font-style: normal;
      font-family: $font-family-alt;
    }
  }
}
.content-wrap {
  padding-top: 90px;
  .inner {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
  }
}
.content-wrap.main {
  padding-top: 0;
}
@media all and (max-width: 85.375rem) {
  .header-wrap {
    height: 8rem;
    &::before {
      top: 8rem;
    }
  }
  .header-wrap.active {
    position: fixed;
    height: 100vh;
    background-color: $background-color_5;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    .right-menu {
      display: flex;
    }
  }
  .header {
    padding: 0 2rem;
    min-height: 7rem;
    .logo {
      width: 12rem;
    }
    .nav {
      display: none;
    }
    .gnb {
      padding-right: 0;
      display: block;
      width: 100%;
      height: 100%;
      >li {
        position: relative;
        padding: 0.5rem 0;
        margin: 0 auto;
        height: auto;
        text-align: center;
        >a {
          margin-bottom: 0;
          width: 100%;
          font-size: calc(var(--fs-hd) + 0.2rem);
          font-weight: 500;
        }
      }
      >li.active {
        .lnb {
          transition: unset;
          -webkit-transition: unset;
          -moz-transition: unset;
          -ms-transition: unset;
          -o-transition: unset;
          background: none;
          animation: none;
          -webkit-animation: none;
        }
      }
    }
    .lnb {
      display: none;
      position: static;
      top: 0;
      left: 0;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      background: none;
      li {
        margin: 0;
        text-align: left;
        a {
          width: 100%;
          text-align: center;
        }
        &::after {
          display: none;
        }
      }
    }
    .right-menu {
      position: absolute;
      right: 2rem;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mobile-btn {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .footer {
    padding: 2rem;
    .main {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .warranty {
        position: static;
        transform: none;
        width: 100%;
        height: auto;
        padding: 30px 0;
      }
      .info {
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
      }
    }
    .bottom {
      .copy {
        font-size: 1.2rem;
      }
    }
  }
  .content-wrap {
    padding-top: 7rem;
  }
}
@media all and (max-width: 64rem) {
  .header-wrap {
    .close {
      width: 2.5rem;
      line-height: 1;
    }
  }
}
@media all and (max-width: 63.9375rem) {
  .header {
    .sitemap_wrap {
      .dep-01 {
        font-size: var(--fs-stit);
      }
      .s-gnb {
        flex-direction: column;
        li {
          margin: 0 auto;
          width: 100%;
        }
        >li.active {
          >.s-snb {
            display: flex;
          }
        }
        .s-lnb {
          display: none;
        }
      }
    }
    .lang-wrap {
      margin: 0 1rem;
    }
  }
}
@media all and (max-width: 47.9375rem) {
  .header-wrap {
    overflow: visible;
  }
}
